html * {
	box-sizing: border-box;
}

body {
	margin: auto;
	width: 1100px;
	min-height: 635px;
	font-family: Roboto,sans-serif;
	background: #388E3C;
	color: white;
}
.header {
	width: 100%;
	height: 100px;
	background: #004D40;
	border-radius: 7px;
	position: sticky;
	top: 0px;
	display: block;
	z-index: 5;
}
.header .title {
	width: 32%;
	height: calc(100px - 6px);
	line-height: calc(100px - 6px);
	text-align: center;
	font-size: 26px;
	font-weight: 600;
	float: left;
}
.header .link {
	line-height: 100px;
	width: 45%;
	float: left;
}
.header .link .items {
	padding: 0px;
	margin: auto;
	display: inline-block;
}
.header .link .items a {
	text-decoration: unset;
	border-right: solid white 1px;
	padding-right: 10px;
	padding-left: 10px;
	color: #B2EBF2;
}
.header .link .items a:last-child {
	border: none;
}
.header .search {
	width: 23%;
	float: right;	
	padding-top: 30px;
}
.header .search input {
	width: 80%;
	height: 40px;
	color: black;
}
.sidebar {
	width: 16%;
	float: left;
	position: sticky;
	top: 100px;
	z-index: 2;
}
.sidebar .category {
	padding: 0px;
	margin: 0px;
	display: block;
}
.sidebar .category .item {
	display: block;
	height: 30px;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	border-bottom: solid #E0F2F1 1px;
	line-height: 30px;
	background: #1DE9B6;
}
.sidebar .category .item a {
	text-decoration: none;
}
.sidebar .category .item:hover {
	background: #00BFA5;
}
.sidebar .category .item:hover a {
	font-weight: 600;
}
.sidebar .category .item:first-child {
	font-size: 17px;
	text-align: center;
	background: #00ACC1;
	border-radius: 10px 10px 0px 0px;
}
.sidebar .category .item:last-child {
	border-radius: 0px 0px 10px 10px;
}

.news {
	padding: 0px;
	margin: 0px;
	background: #8C9EFF;
	width: 19%;
	height: 100%;
	float: right;
}
.news .title {
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #283593;
	border-radius: 10px;
}

.products {
	padding: 0px;
	margin: 0px auto;
	display: table;
}

.products .item {
	display: table;
	padding: 5px;
	float: left;
}

.products .item:hover {
	background: #3F51B5;
	border-radius: 18px;
}
.products .item a img {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.products .item p.name {
	padding: 10px 0px 0px 0px;
	margin: 0px;
	min-height: 30px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}
.products .item p.price {
	padding: 0px 0px 0px 5px;
	margin: 0px;
	min-height: 25px;
	text-align: center;
	font-size: 15px;
	line-height: 25px;
}
.products .item button {
	width: 50%;
	height: 25px;
	margin-left: 25%;
	font-size: 15px;
	line-height: 20px;
	border: solid white 1px;
	border-radius: 3px;
	table-layout: center;
	background: #7986CB;
	cursor: pointer;
}
.products .item button:hover {
	background: #6200EA;
	font-weight: 500;
	color: white;
}
.content {
	padding: 0px;
	margin: 0px;
	width: 65%;
	background: #009688;
	position: relative;
	min-height: fit-content;
	float: left;

	
}
.content .title {
	height: 60px;
	text-align: center;
	font-weight: 500;
	line-height: 60px;
	font-size: 30px;
	padding: 10px;
	display: block;
}

.content .products {
	display: table;
	margin: 0px auto;
	padding: 0px 10px;
	
}
.content .products .item {
	width: 31%;
	float: left;
}
.content .products .item:hover {
	background: #00bcd4;
	border-radius: 15px;
}
.content .products .item p.name {
	padding: 10px 0px 0px 0px;
	margin: 0px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
}
.content .products .item p {
	color: black;
}
.content .products .item:hover p {
	color: white;
}
.content .products .item button {
	width: 50%;
	height: 25px;
	margin-left: 25%;
	font-size: 15px;
	line-height: 20px;
	border: solid white 1px;
	border-radius: 3px;
	table-layout: center;
	background: #4DB6AC;
	cursor: pointer;
}
.content .products .item button:hover {
	background: #4dd0e1;
	font-weight: 500;
}
.content .pages {
	height: 100%;
	padding: 0px;
	border: solid white 1px;
	border-radius: 10px;
	height: 40px;
	
	background-color: #26A69A;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 5px;
	float: right;
}
.content .pages .item {
	display: inline-block;
	min-width: 30px;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border-right: solid white 1px;
	text-align: center;
}
.content .pages .item:last-child {
	border: none;
	width: 45px;
}
.content .pages .item:first-child {
	width: 45px;
}
.content .pages .item a {
	min-width: 20px;
	height: 20px;
	text-align: center;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	color: white;
}
.content .pages .item a:hover {
	font-weight: 700;
}

.wrapper {
	width: 100%;
	position: relative;
	min-height: fit-content;
}


.footer {
	background: #004D40;
	min-height: 85px;
	clear: both;
	border-radius: 7px;
}
.footer p {
	font-size: 20px;
	line-height: 85px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.center {
	display: table;
	margin: 0px auto;
}
.footer .name {
	float: left;
}
.footer .description {
	display: inline;
}
.footer .contact {
	display: inline-flex;
	float: right;
	position: relative;
	right: 15px;
	bottom: 40px;
}
.footer .contact ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.footer .contact li {
	float: left;
}
.footer .contact li a img {
	width: 30px;
	padding-right: 5px;
}

@media only screen and (max-width: 1100px) {
	body {
		width: 98vw;
	}
	.sidebar {
		width: 16%;
	}
	.content {
		width: 84%;
	}
	.news {
		width: 84%;
	}
	.news .products .item {
		width: 50%;
	}
}

@media only screen and (max-width: 940px) {
	.content {
		width: 100%;
	}
	.sidebar {
		width: 100%;
		position: unset;
	}
	.news {
		width: 100%;
	}
}
@media only screen and (max-width: 770px) {
	.footer p {
		font-size: 15px;
	}
	.footer .contact {
		position: unset;
		margin: 0 auto;
		display: table;
		float: none;
	}
}

@media only screen and (max-width: 685px) {
	.header {
		position: relative;
	}
	.header .title {
		width: 65%;
		height: 70%;
		
		font-size: 30px;
		float: none;
	}
	.header .link {
		width: 65%;
		align-content: center;
		line-height: unset;
		text-align: center;
	}
	.header .search {
		height: unset;
		position: absolute;
		right: 10px;
		top: 10px;
	}
}
@media only screen and (max-width: 460px) {
	.header .title {
		width: 75%;
	}
	.header .link {
		width: 75%;
		font-size: 0.75em;
	}
	.header .search {
		right: 5px;
		top: 5px;
	}
	.header .title {
		font-size: 1.75em;
	}
	.footer .description {
		display: none;
	}
}
@media only screen and (max-width: 320px) {
	.header .search {
		top: 0px;
		right: 0px;
	}
	.header .link {
		width: 85%;
	}
}
